#age-verification-popup {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0,0,0,0.95);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    z-index: 9999;
    text-align: center;
    padding: 20px;
}
#age-verification-popup button {
    font-size: 2rem;
    padding: 15px 40px;
    margin: 15px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: rgb(0,0,0);
}
#btn-yes {
    background-color: #f79817;
}
#btn-no {
    background-color: #f79817;
}
#access-denied-img {
    max-width: 300px;
    margin-top: 30px;
    display: none;
}

h1{
    /*centre le texte */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

    /*police affreuse*/
    font-family: 'Dokdo', 'Comic Sans MS', 'Papyrus', fantasy, cursive;
    font-size: 50px;
    color: #ff0000; /* vert fluo */
    background-color: #687c50d0; /* rose fluo */
    line-height: 0.6;
    letter-spacing: -2px;
    word-spacing: 20px;
    text-shadow: 3px 3px 1px #000, -2px -2px 0 #FFF;
    transform: rotate(0.5deg);
    font-weight: 900;
    font-style: oblique;
    text-transform: uppercase;
    text-decoration: underline overline wavy rgb(188, 196, 196);
    filter: blur(0.8px) contrast(200%) saturate(500%);  
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

  /* Icône burger */
.menu-toggle {
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    background: rgb(245, 7, 7);
    color: rgb(102, 255, 0);
    border: 15px solid rgba(23, 250, 2, 0.26);
    border-radius: 190px;
    box-shadow: 0 0 20px rgba(10, 10, 101, 110.3); 
    position: relative;
    top: 45vh;
    left: 1500px;
    z-index: 1001;
    animation: tourner 2s linear infinite;
}

@keyframes tourner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  }

  /* Menu caché par défaut */
.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgb(255, 0, 0);
    overflow: auto;
    transition: left 9s ease;
    padding-top: 60px;
    z-index: 1000;
}

.menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(0, 253, 76);
    border-bottom: 1px solid rgb(0, 225, 255);
    transition: background 0.2s;
}

.menu a:hover {
    background-color: rgb(255, 0, 0);
}

  /* Classe active : menu ouvert */
.menu.open {
    left: 0;
}


#cookie-banner{
    display:none; 
    position:fixed; 
    bottom:20px; 
    left:20px; 
    right:20px; 
    background:#333; 
    color:white; 
    padding:20px; 
    border-radius:8px; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.3); 
    z-index:1000;
}
#accept-cookies{
    margin-left:20px; 
    padding:10px 15px; 
    background:#4caf50; 
    color:white; 
    border:none; 
    border-radius:5px; 
    cursor:pointer;
}
